.footer .footer-logo {
  height: 396px;
}

.footer .footer-logo .footer-logo__left {
  padding: 0 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 300px;
  background-image: url(../image/Maskppp.png);
  background-color: #d3dae6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer .footer-logo .footer-logo__left .left__text-logo .text-logo--text {
  font-size: 48px;
  line-height: 48px;
  font-family: 'Space Mono';
  color: #FFFFFF;
  width: 415px;
}

.footer .footer-logo .footer-logo__left .left__image .image--link {
  padding: 0 10px;
}

.footer .footer-logo .footer-logo__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333A44;
  padding: 0 190px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 96px;
}

.footer .footer-logo .footer-logo__right .right__rasmlar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-logo .footer-logo__right .right__rasmlar .rasmlar__menu-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 58px;
}

.footer .footer-logo .footer-logo__right .right__rasmlar .rasmlar__menu-logo .menu-logo--iytms .menu-logo--link {
  color: #939CAA;
  font-size: 15px;
  font-family: 'Space Mono';
  padding: 0 32px;
}

.footer .footer-logo .footer-logo__right .right__rasmlar .rasmlar__menu-logo .menu-logo--iytms .menu-logo--link:hover {
  color: #FCB72B;
}

.footer .footer-logo .footer-logo__right .right__icon a {
  padding: 0 10px;
}

.footer .footer-logo .footer-logo__right .right__icon a svg {
  fill: #FCB72B;
}

.footer .footer-logo .footer-logo__right .right__icon a svg:hover {
  fill: #E5ECF4;
}

@media only screen and (max-width: 770px) {
  .container {
    max-width: 689px;
    margin: 0 auto;
  }
  .footer .footer-logo {
    height: 396px;
  }
  .footer .footer-logo .footer-logo__left {
    padding: 0 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 300px;
  }
  .footer .footer-logo .footer-logo__left .left__text-logo .text-logo--text {
    font-size: 48px;
    line-height: 48px;
    width: 415px;
  }
  .footer .footer-logo .footer-logo__left .left__image {
    margin-top: 40px;
  }
  .footer .footer-logo .footer-logo__left .left__image .image--link {
    padding: 0 10px;
  }
  .footer .footer-logo .footer-logo__left .left__image .image--link img {
    height: 40px;
    width: 113px;
  }
  .footer .footer-logo .footer-logo__right {
    padding: 0 39px;
    height: 96px;
  }
  .footer .footer-logo .footer-logo__right .right__rasmlar .rasmlar__menu-logo {
    margin-left: 38px;
  }
  .footer .footer-logo .footer-logo__right .right__rasmlar .rasmlar__menu-logo .menu-logo--iytms .menu-logo--link {
    font-size: 15px;
    padding: 0 22px;
  }
}

@media only screen and (max-width: 435px) {
  .container {
    max-width: 390px;
    margin: 0 auto;
  }
  .footer .footer-logo {
    height: 758px;
  }
  .footer .footer-logo .footer-logo__left {
    padding: 0 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 320px;
  }
  .footer .footer-logo .footer-logo__left .left__text-logo .text-logo--text {
    font-size: 32px;
    width: 311px;
  }
  .footer .footer-logo .footer-logo__left .left__image {
    margin-top: 40px;
  }
  .footer .footer-logo .footer-logo__left .left__image .image--link {
    padding: 0 10px;
  }
  .footer .footer-logo .footer-logo__left .left__image .image--link img {
    height: 40px;
    width: 130px;
  }
  .footer .footer-logo .footer-logo__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 39px;
    height: 438px;
  }
  .footer .footer-logo .footer-logo__right .right__rasmlar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 66px;
  }
  .footer .footer-logo .footer-logo__right .right__rasmlar .rasmlar__menu-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 41px;
    margin-left: 0;
  }
  .footer .footer-logo .footer-logo__right .right__rasmlar .rasmlar__menu-logo .menu-logo--iytms .menu-logo--link {
    font-size: 15px;
    padding: 16px 32px;
    display: inline-block;
  }
  .footer .footer-logo .footer-logo__right .right__icon {
    padding-bottom: 66px;
  }
  .footer .footer-logo .footer-logo__right .right__icon a {
    padding: 0 10px;
  }
  .footer .footer-logo .footer-logo__right .right__icon a svg {
    fill: #FCB72B;
  }
  .footer .footer-logo .footer-logo__right .right__icon a svg:hover {
    fill: #E5ECF4;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    max-width: 311px;
    margin: 0 auto;
  }
  .footer .footer-logo {
    height: 758px;
  }
  .footer .footer-logo .footer-logo__left {
    padding: 0 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 320px;
  }
  .footer .footer-logo .footer-logo__left .left__text-logo .text-logo--text {
    font-size: 32px;
    width: 311px;
  }
  .footer .footer-logo .footer-logo__left .left__image {
    margin-top: 40px;
  }
  .footer .footer-logo .footer-logo__left .left__image .image--link {
    padding: 0 10px;
  }
  .footer .footer-logo .footer-logo__left .left__image .image--link img {
    height: 40px;
    width: 130px;
  }
  .footer .footer-logo .footer-logo__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 39px;
    height: 438px;
  }
  .footer .footer-logo .footer-logo__right .right__rasmlar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 66px;
  }
  .footer .footer-logo .footer-logo__right .right__rasmlar .rasmlar__menu-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 41px;
    margin-left: 0;
  }
  .footer .footer-logo .footer-logo__right .right__rasmlar .rasmlar__menu-logo .menu-logo--iytms .menu-logo--link {
    font-size: 15px;
    padding: 16px 32px;
    display: inline-block;
  }
  .footer .footer-logo .footer-logo__right .right__icon {
    padding-bottom: 66px;
  }
  .footer .footer-logo .footer-logo__right .right__icon a {
    padding: 0 10px;
  }
  .footer .footer-logo .footer-logo__right .right__icon a svg {
    fill: #FCB72B;
  }
  .footer .footer-logo .footer-logo__right .right__icon a svg:hover {
    fill: #E5ECF4;
  }
}

.header {
  background-color: #fff;
}

.header .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  height: 96px;
}

.header .header-logo .header-logo__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-logo .header-logo__left .font .fas {
  display: none;
}

.header .header-logo .header-logo__left .left__nav-menu .left__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 58px;
}

.header .header-logo .header-logo__left .left__nav-menu .left__menu .menu--iytms .menu--link {
  display: inline-block;
  font-family: 'Space Mono';
  color: #939CAA;
  font-size: 15px;
  padding: 0 32px;
}

.header .header-logo .header-logo__left .left__nav-menu .left__menu .menu--iytms .menu--link:hover {
  color: #FCB72B;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  padding: 16px 35px;
  height: 53px;
  font-family: 'Space Mono';
  background-color: #FCB72B;
  color: #FFFFFF;
  font-size: 15px;
}

.link:hover {
  background-color: #fff;
  border: 2px solid #FCB72B;
  color: #FCB72B;
  background-color: transparent;
}

@media only screen and (max-width: 435px) {
  .container {
    max-width: 390px;
    margin: 0 auto;
  }
  .header {
    background-color: #fff;
  }
  .header .header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    height: 96px;
  }
  .header .header-logo .header-logo__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header-logo .header-logo__left .left__img {
    margin-left: 120px;
  }
  .header .header-logo .header-logo__left .font .fas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header-logo .header-logo__left .left__nav-menu {
    display: none;
  }
  .header .header-logo .header-logo__left .fas:checked ~ .left__nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .link {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    max-width: 311px;
    margin: 0 auto;
  }
  .header {
    background-color: #fff;
  }
  .header .header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    height: 96px;
  }
  .header .header-logo .header-logo__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header-logo .header-logo__left .left__img {
    margin-left: 80px;
  }
  .header .header-logo .header-logo__left .font .fas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header-logo .header-logo__left .left__nav-menu {
    display: none;
  }
  .header .header-logo .header-logo__left .fas:checked ~ .left__nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .link {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  width: 100%;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../image/Bitmap2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}

.section .section-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 153px;
}

.section .section-logo .section-logo__text {
  font-family: 'Space normal';
  width: 500px;
  letter-spacing: -2.5px;
  font-size: 56px;
  line-height: 56px;
  color: #fff;
}

.section .section-logo .link {
  margin-left: 100px;
}

.section .section-logo .section-logo__lerem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100px;
  position: relative;
  padding-top: 40px;
  color: #FFFFFF;
  width: 38%;
  font-family: 'Lexend Deca';
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 40px;
}

.section .section-logo .section-logo__lerem::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  height: 100px;
  width: 300px;
  position: absolute;
  background-image: url(../image/GroupCopy0101.svg);
  background-position: center;
  background-repeat: no-repeat;
  right: -300px;
  top: 80px;
  background-size: cover;
}

.section .section-logo .section-logo__lerem::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  height: 12px;
  width: 250px;
  position: absolute;
  background-image: url(../image/Path20000.svg);
  background-position: center;
  background-repeat: no-repeat;
  top: 80px;
  left: -300px;
  background-size: cover;
}

.banner {
  background-color: #F2F2F2;
  padding-top: 206px;
}

.banner .banner__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 190px;
  width: 1034px;
  height: 15px;
  background-color: #F2F2F2;
}

.banner .banner__box .box--span {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #FCB72B;
  -webkit-transform: translateY(-50PX);
          transform: translateY(-50PX);
  background-image: url(../image/CombinedShapeIMG1.png);
  background-position: center;
  background-repeat: no-repeat;
}

.banner .banner__box .box--span2 {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #FCB72B;
  -webkit-transform: translateY(-50PX);
          transform: translateY(-50PX);
  background-image: url(../image/001-scooterIMG2.png);
  background-position: center;
  background-repeat: no-repeat;
}

.banner .banner__box .box--span3 {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #FCB72B;
  -webkit-transform: translateY(-50PX);
          transform: translateY(-50PX);
  background-image: url(../image/CombinedShapeIMG3.png);
  background-position: center;
  background-repeat: no-repeat;
}

.banner .banner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1110px;
}

.banner .banner-logo .banner-logo__bloc {
  margin-top: 89px;
}

.banner .banner-logo .banner-logo__bloc .bloc--text {
  font-size: 24px;
  font-family: 'Space normal';
  color: #495567;
}

.banner .banner-logo .banner-logo__bloc .bloc--lorem {
  padding-top: 24px;
  font-size: 15px;
  color: #939CAA;
  line-height: 25px;
  width: 350px;
}

.templet {
  background-color: #F2F2F2;
  overflow: hidden;
  padding-bottom: 329px;
}

.templet .temlet-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.templet .temlet-logo .templet-logo__left {
  padding-top: 266px;
}

.templet .temlet-logo .templet-logo__left .left--text {
  font-size: 48px;
  font-family: 'Space normal';
  letter-spacing: -2.14286px;
  width: 445px;
  color: #495567;
}

.templet .temlet-logo .templet-logo__left .left--lorem {
  width: 445px;
  color: #939CAA;
  font-size: 15px;
  margin-bottom: 40px;
  padding-top: 24px;
  line-height: 25px;
}

.templet .temlet-logo .temlet-logo__right {
  margin-top: 200px;
  width: 445px;
  height: 445px;
  border-radius: 50%;
  background-image: url(../image/Bitmapttt.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.templet .temlet-logo .temlet-logo__right span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  width: 445px;
  height: 445px;
  background-color: #E5ECF4;
  -webkit-transform: translate(520px, -150px);
          transform: translate(520px, -150px);
}

.templet .temlet-logo .temlet-logo__right::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  content: "";
  background-image: url(../image/Group32rrr.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  position: relative;
  width: 740px;
  z-index: 2;
  top: 300px;
  right: 101px;
}

.templet .temlet-logo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.templet .temlet-logo2 .templet-logo__left {
  padding-top: 266px;
}

.templet .temlet-logo2 .templet-logo__left .left--text {
  font-size: 48px;
  font-family: 'Space normal';
  letter-spacing: -2.14286px;
  width: 445px;
  color: #495567;
}

.templet .temlet-logo2 .templet-logo__left .left--lorem {
  width: 445px;
  color: #939CAA;
  font-size: 15px;
  margin-bottom: 40px;
  padding-top: 24px;
  line-height: 25px;
}

.templet .temlet-logo2 .temlet-logo__right {
  margin-top: 200px;
  width: 445px;
  height: 445px;
  border-radius: 50%;
  background-image: url(../image/Bitmapjj.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.templet .temlet-logo2 .temlet-logo__right span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  width: 445px;
  height: 445px;
  background-color: #E5ECF4;
  -webkit-transform: translate(-520px, -150px);
          transform: translate(-520px, -150px);
}

.templet .temlet-logo2 .temlet-logo__right::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  content: "";
  background-image: url(../image/GroupCopyhh.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  position: relative;
  width: 740px;
  z-index: 2;
  top: 0px;
  right: 0px;
  left: -550px;
}

.templet .temlet-logo3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.templet .temlet-logo3 .templet-logo__left {
  padding-top: 266px;
}

.templet .temlet-logo3 .templet-logo__left .left--text {
  font-size: 48px;
  font-family: 'Space normal';
  letter-spacing: -2.14286px;
  width: 445px;
  color: #495567;
}

.templet .temlet-logo3 .templet-logo__left .left--lorem {
  width: 445px;
  color: #939CAA;
  font-size: 15px;
  margin-bottom: 40px;
  padding-top: 24px;
  line-height: 25px;
}

.templet .temlet-logo3 .temlet-logo__right {
  margin-top: 200px;
  width: 445px;
  height: 445px;
  border-radius: 50%;
  background-image: url(../image/Bitmapkk.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.templet .temlet-logo3 .temlet-logo__right span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  width: 445px;
  height: 445px;
  background-color: #E5ECF4;
  -webkit-transform: translate(520px, -150px);
          transform: translate(520px, -150px);
}

.templet .temlet-logo3 .temlet-logo__right::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  content: "";
  background-image: url(../image/Group32rrr.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  position: relative;
  width: 740px;
  z-index: 2;
  top: 90px;
  right: -260px;
}

@media only screen and (max-width: 770px) {
  .container {
    max-width: 689px;
    margin: 0 auto;
  }
  .section {
    height: 690px;
  }
  .section .section-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-top: 187px;
  }
  .section .section-logo .section-logo__text {
    width: 573px;
    font-size: 56px;
  }
  .section .section-logo .link {
    margin-left: 200px;
  }
  .section .section-logo .section-logo__lerem {
    margin-left: 0px;
    padding-top: 24px;
    width: 573px;
    margin-bottom: 32px;
  }
  .section .section-logo .section-logo__lerem::after {
    display: none;
  }
  .section .section-logo .section-logo__lerem::before {
    height: 158px;
    width: 477px;
    background-image: url(../image/GroupCopymmm.svg);
    top: 200px;
    left: -250px;
  }
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #F2F2F2;
    padding-top: 0px;
  }
  .banner .banner__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    width: 15px;
    margin-left: 100px;
    height: 600px;
  }
  .banner .banner__box .box--span {
    margin-top: 150px;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  .banner .banner__box .box--span2 {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  .banner .banner__box .box--span3 {
    border-radius: 50%;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  .banner .banner-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 1110px;
    padding-top: 150px;
  }
  .banner .banner-logo .banner-logo__bloc {
    margin-top: 0;
    margin-left: 150px;
  }
  .banner .banner-logo .banner-logo__bloc .bloc--text {
    font-size: 24px;
    font-family: 'Space normal';
    color: #495567;
  }
  .banner .banner-logo .banner-logo__bloc .bloc--lorem {
    padding-top: 27px;
    font-size: 15px;
    line-height: 25px;
    width: 398px;
    margin-bottom: 40px;
  }
  .templet {
    padding-bottom: 104px;
  }
  .templet .temlet-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .templet .temlet-logo .templet-logo__left {
    padding-top: 56px;
  }
  .templet .temlet-logo .templet-logo__left .left--text {
    font-size: 48px;
    margin-left: 60px;
    font-family: 'Space normal';
    letter-spacing: -2.14286px;
    width: 445px;
    color: #495567;
  }
  .templet .temlet-logo .templet-logo__left .left--lorem {
    width: 553px;
    font-size: 15px;
    margin-bottom: 40px;
    padding-top: 24px;
    line-height: 25px;
  }
  .templet .temlet-logo .templet-logo__left .link {
    margin-left: 190px;
  }
  .templet .temlet-logo .temlet-logo__right {
    margin-top: 145px;
    width: 445px;
    height: 445px;
    border-radius: 50%;
    background-image: url(../image/Bitmapttt.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .templet .temlet-logo .temlet-logo__right span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 50%;
    width: 445px;
    height: 445px;
    background-color: #E5ECF4;
    -webkit-transform: translate(520px, -150px);
            transform: translate(520px, -150px);
  }
  .templet .temlet-logo .temlet-logo__right::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    content: "";
    background-image: url(../image/Group32rrr.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    position: relative;
    width: 740px;
    z-index: 2;
    top: 300px;
    right: 101px;
  }
  .templet .temlet-logo2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .templet .temlet-logo2 .templet-logo__left {
    padding-top: 56px;
  }
  .templet .temlet-logo2 .templet-logo__left .left--text {
    font-size: 48px;
    margin-left: 60px;
    width: 445px;
  }
  .templet .temlet-logo2 .templet-logo__left .left--lorem {
    width: 553px;
    font-size: 15px;
    margin-bottom: 40px;
    padding-top: 24px;
    line-height: 25px;
  }
  .templet .temlet-logo2 .templet-logo__left .link {
    margin-left: 190px;
  }
  .templet .temlet-logo2 .temlet-logo__right {
    margin-top: 145px;
    width: 445px;
    height: 445px;
  }
  .templet .temlet-logo2 .temlet-logo__right span {
    width: 445px;
    height: 445px;
    -webkit-transform: translate(-520px, -150px);
            transform: translate(-520px, -150px);
  }
  .templet .temlet-logo2 .temlet-logo__right::before {
    height: 150px;
    width: 740px;
    top: 0px;
    right: 101px;
  }
  .templet .temlet-logo3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .templet .temlet-logo3 .templet-logo__left {
    padding-top: 56px;
  }
  .templet .temlet-logo3 .templet-logo__left .left--text {
    font-size: 48px;
    margin-left: 60px;
    letter-spacing: -2.14286px;
    width: 445px;
  }
  .templet .temlet-logo3 .templet-logo__left .left--lorem {
    width: 553px;
    font-size: 15px;
    margin-bottom: 40px;
    padding-top: 24px;
    line-height: 25px;
  }
  .templet .temlet-logo3 .templet-logo__left .link {
    margin-left: 190px;
  }
  .templet .temlet-logo3 .temlet-logo__right {
    margin-top: 145px;
    width: 445px;
    height: 445px;
  }
  .templet .temlet-logo3 .temlet-logo__right span {
    width: 445px;
    height: 445px;
    -webkit-transform: translate(520px, -150px);
            transform: translate(520px, -150px);
  }
  .templet .temlet-logo3 .temlet-logo__right::before {
    height: 150px;
    width: 740px;
    top: 100px;
    right: -260px;
  }
}

@media only screen and (max-width: 435px) {
  .container {
    max-width: 390px;
    margin: 0 auto;
  }
  .section {
    width: 100%;
    height: 690px;
  }
  .section .section-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-top: 120px;
  }
  .section .section-logo .section-logo__text {
    width: 311px;
    font-size: 40px;
  }
  .section .section-logo .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 70px;
  }
  .section .section-logo .section-logo__lerem {
    font-size: 15px;
    line-height: 25px;
    margin-left: 0px;
    padding-top: 24px;
    width: 311px;
    margin-bottom: 32px;
  }
  .section .section-logo .section-logo__lerem::after {
    display: none;
  }
  .section .section-logo .section-logo__lerem::before {
    height: 158px;
    width: 477px;
    background-image: url(../image/GroupCopymmm.svg);
    top: 215px;
    left: -360px;
  }
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #F2F2F2;
    padding-top: 0px;
    padding-bottom: 0;
  }
  .banner .banner__box {
    background-color: transparent;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    width: 15px;
    margin-left: 220px;
    height: 800px;
  }
  .banner .banner__box .box--span {
    width: 56px;
    height: 56px;
    margin-top: 120px;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    background-image: url(../image/CombinedShapemm1.svg);
  }
  .banner .banner__box .box--span2 {
    width: 56px;
    height: 56px;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    background-image: url(../image/001-scootermm2.svg);
  }
  .banner .banner__box .box--span3 {
    width: 56px;
    height: 56px;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    background-image: url(../image/CombinedShapemm3.svg);
  }
  .banner .banner-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 311px;
    padding-top: 150px;
  }
  .banner .banner-logo .banner-logo__bloc {
    margin-top: 90px;
    margin-left: -190px;
  }
  .banner .banner-logo .banner-logo__bloc .bloc--text {
    font-size: 24px;
    margin-left: -160px;
  }
  .banner .banner-logo .banner-logo__bloc .bloc--lorem {
    padding-top: 24px;
    font-size: 15px;
    line-height: 25px;
    width: 311px;
    margin-bottom: 48px;
  }
  .templet {
    padding-bottom: 104px;
  }
  .templet .temlet-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .templet .temlet-logo .templet-logo__left {
    padding-top: 56px;
  }
  .templet .temlet-logo .templet-logo__left .left--text {
    font-size: 32px;
    margin-left: 0px;
    width: 311px;
  }
  .templet .temlet-logo .templet-logo__left .left--lorem {
    width: 311px;
    font-size: 15px;
    margin-bottom: 40px;
    padding-top: 32px;
    line-height: 25px;
  }
  .templet .temlet-logo .templet-logo__left .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 70px;
  }
  .templet .temlet-logo .temlet-logo__right {
    margin-top: 60px;
    width: 311px;
    height: 311px;
  }
  .templet .temlet-logo .temlet-logo__right::before {
    height: 150px;
    width: 740px;
    z-index: 2;
    top: 170px;
    right: -0px;
  }
  .templet .temlet-logo2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .templet .temlet-logo2 .templet-logo__left {
    padding-top: 56px;
  }
  .templet .temlet-logo2 .templet-logo__left .left--text {
    font-size: 32px;
    margin-left: 0px;
    width: 311px;
  }
  .templet .temlet-logo2 .templet-logo__left .left--lorem {
    width: 311px;
    font-size: 15px;
    margin-bottom: 40px;
    padding-top: 32px;
    line-height: 25px;
  }
  .templet .temlet-logo2 .templet-logo__left .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 70px;
  }
  .templet .temlet-logo2 .temlet-logo__right {
    margin-top: 60px;
    width: 311px;
    height: 311px;
  }
  .templet .temlet-logo2 .temlet-logo__right::before {
    height: 150px;
    width: 740px;
    z-index: 2;
    top: 0px;
    left: -520px;
  }
  .templet .temlet-logo3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .templet .temlet-logo3 .templet-logo__left {
    padding-top: 56px;
  }
  .templet .temlet-logo3 .templet-logo__left .left--text {
    font-size: 32px;
    margin-left: 0px;
    width: 311px;
  }
  .templet .temlet-logo3 .templet-logo__left .left--lorem {
    width: 311px;
    font-size: 15px;
    margin-bottom: 40px;
    padding-top: 32px;
    line-height: 25px;
  }
  .templet .temlet-logo3 .templet-logo__left .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 70px;
  }
  .templet .temlet-logo3 .temlet-logo__right {
    margin-top: 60px;
    width: 311px;
    height: 311px;
  }
  .templet .temlet-logo3 .temlet-logo__right::before {
    height: 150px;
    width: 740px;
    z-index: 2;
    top: 0px;
    right: -125px;
  }
}

@media only screen and (max-width: 370px) {
  .container {
    max-width: 311px;
    margin: 0 auto;
  }
  .section {
    height: 690px;
  }
  .section .section-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-top: 120px;
  }
  .section .section-logo .section-logo__text {
    width: 311px;
    font-size: 40px;
  }
  .section .section-logo .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 70px;
  }
  .section .section-logo .section-logo__lerem {
    font-size: 15px;
    line-height: 25px;
    margin-left: 0px;
    padding-top: 24px;
    width: 311px;
    margin-bottom: 32px;
  }
  .section .section-logo .section-logo__lerem::after {
    display: none;
  }
  .section .section-logo .section-logo__lerem::before {
    height: 158px;
    width: 477px;
    background-image: url(../image/GroupCopymmm.svg);
    top: 215px;
    left: -360px;
  }
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #F2F2F2;
    padding-top: 0px;
    padding-bottom: 0;
  }
  .banner .banner__box {
    background-color: transparent;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    width: 15px;
    margin-left: 200px;
    height: 800px;
  }
  .banner .banner__box .box--span {
    width: 56px;
    height: 56px;
    margin-top: 120px;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    background-image: url(../image/CombinedShapemm1.svg);
  }
  .banner .banner__box .box--span2 {
    width: 56px;
    height: 56px;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    background-image: url(../image/001-scootermm2.svg);
  }
  .banner .banner__box .box--span3 {
    width: 56px;
    height: 56px;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    background-image: url(../image/CombinedShapemm3.svg);
  }
  .banner .banner-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 311px;
    padding-top: 150px;
  }
  .banner .banner-logo .banner-logo__bloc {
    margin-top: 90px;
    margin-left: -180px;
  }
  .banner .banner-logo .banner-logo__bloc .bloc--text {
    font-size: 24px;
    margin-left: -160px;
  }
  .banner .banner-logo .banner-logo__bloc .bloc--lorem {
    padding-top: 24px;
    font-size: 15px;
    line-height: 25px;
    width: 311px;
    margin-bottom: 48px;
  }
  .templet {
    padding-bottom: 104px;
  }
  .templet .temlet-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .templet .temlet-logo .templet-logo__left {
    padding-top: 56px;
  }
  .templet .temlet-logo .templet-logo__left .left--text {
    font-size: 32px;
    margin-left: 0px;
    width: 311px;
  }
  .templet .temlet-logo .templet-logo__left .left--lorem {
    width: 311px;
    font-size: 15px;
    margin-bottom: 40px;
    padding-top: 32px;
    line-height: 25px;
  }
  .templet .temlet-logo .templet-logo__left .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 70px;
  }
  .templet .temlet-logo .temlet-logo__right {
    margin-top: 60px;
    width: 311px;
    height: 311px;
  }
  .templet .temlet-logo .temlet-logo__right::before {
    height: 150px;
    width: 740px;
    z-index: 2;
    top: 170px;
    right: -0px;
  }
  .templet .temlet-logo2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .templet .temlet-logo2 .templet-logo__left {
    padding-top: 56px;
  }
  .templet .temlet-logo2 .templet-logo__left .left--text {
    font-size: 32px;
    margin-left: 0px;
    width: 311px;
  }
  .templet .temlet-logo2 .templet-logo__left .left--lorem {
    width: 311px;
    font-size: 15px;
    margin-bottom: 40px;
    padding-top: 32px;
    line-height: 25px;
  }
  .templet .temlet-logo2 .templet-logo__left .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 70px;
  }
  .templet .temlet-logo2 .temlet-logo__right {
    margin-top: 60px;
    width: 311px;
    height: 311px;
  }
  .templet .temlet-logo2 .temlet-logo__right::before {
    height: 150px;
    width: 740px;
    z-index: 2;
    top: 0px;
    left: -520px;
  }
  .templet .temlet-logo3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .templet .temlet-logo3 .templet-logo__left {
    padding-top: 56px;
  }
  .templet .temlet-logo3 .templet-logo__left .left--text {
    font-size: 32px;
    margin-left: 0px;
    width: 311px;
  }
  .templet .temlet-logo3 .templet-logo__left .left--lorem {
    width: 311px;
    font-size: 15px;
    margin-bottom: 40px;
    padding-top: 32px;
    line-height: 25px;
  }
  .templet .temlet-logo3 .templet-logo__left .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 70px;
  }
  .templet .temlet-logo3 .temlet-logo__right {
    margin-top: 60px;
    width: 311px;
    height: 311px;
  }
  .templet .temlet-logo3 .temlet-logo__right::before {
    height: 150px;
    width: 740px;
    z-index: 2;
    top: 0px;
    right: -125px;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    max-width: 270px;
    margin: 0 auto;
  }
  .section {
    height: 690px;
  }
  .section .section-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-top: 120px;
  }
  .section .section-logo .section-logo__text {
    margin-left: -20px;
    width: 311px;
    font-size: 40px;
  }
  .section .section-logo .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 50px;
  }
  .section .section-logo .section-logo__lerem {
    font-size: 15px;
    line-height: 25px;
    margin-left: -20px;
    padding-top: 24px;
    width: 311px;
    margin-bottom: 32px;
  }
  .section .section-logo .section-logo__lerem::after {
    display: none;
  }
  .section .section-logo .section-logo__lerem::before {
    height: 158px;
    width: 477px;
    background-image: url(../image/GroupCopymmm.svg);
    top: 215px;
    left: -360px;
  }
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #F2F2F2;
    padding-top: 0px;
    padding-bottom: 0;
  }
  .banner .banner__box {
    background-color: transparent;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    width: 15px;
    margin-left: 180px;
    height: 800px;
  }
  .banner .banner__box .box--span {
    width: 56px;
    height: 56px;
    margin-top: 120px;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    background-image: url(../image/CombinedShapemm1.svg);
  }
  .banner .banner__box .box--span2 {
    width: 56px;
    height: 56px;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    background-image: url(../image/001-scootermm2.svg);
  }
  .banner .banner__box .box--span3 {
    width: 56px;
    height: 56px;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    background-image: url(../image/CombinedShapemm3.svg);
  }
  .banner .banner-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 270px;
    padding-top: 150px;
  }
  .banner .banner-logo .banner-logo__bloc {
    margin-top: 90px;
    margin-left: -180px;
  }
  .banner .banner-logo .banner-logo__bloc .bloc--text {
    font-size: 24px;
    margin-left: -160px;
  }
  .banner .banner-logo .banner-logo__bloc .bloc--lorem {
    padding-top: 24px;
    font-size: 15px;
    line-height: 25px;
    width: 270px;
    margin-bottom: 48px;
  }
  .templet {
    padding-bottom: 104px;
  }
  .templet .temlet-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .templet .temlet-logo .templet-logo__left {
    padding-top: 56px;
  }
  .templet .temlet-logo .templet-logo__left .left--text {
    font-size: 32px;
    margin-left: 0px;
    width: 311px;
  }
  .templet .temlet-logo .templet-logo__left .left--lorem {
    width: 311px;
    font-size: 15px;
    margin-bottom: 40px;
    padding-top: 32px;
    line-height: 25px;
  }
  .templet .temlet-logo .templet-logo__left .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 70px;
  }
  .templet .temlet-logo .temlet-logo__right {
    margin-top: 60px;
    width: 311px;
    height: 311px;
  }
  .templet .temlet-logo .temlet-logo__right::before {
    height: 150px;
    width: 740px;
    z-index: 2;
    top: 170px;
    right: -0px;
  }
  .templet .temlet-logo2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .templet .temlet-logo2 .templet-logo__left {
    padding-top: 56px;
  }
  .templet .temlet-logo2 .templet-logo__left .left--text {
    font-size: 32px;
    margin-left: 0px;
    width: 311px;
  }
  .templet .temlet-logo2 .templet-logo__left .left--lorem {
    width: 311px;
    font-size: 15px;
    margin-bottom: 40px;
    padding-top: 32px;
    line-height: 25px;
  }
  .templet .temlet-logo2 .templet-logo__left .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 70px;
  }
  .templet .temlet-logo2 .temlet-logo__right {
    margin-top: 60px;
    width: 311px;
    height: 311px;
  }
  .templet .temlet-logo2 .temlet-logo__right::before {
    height: 150px;
    width: 740px;
    z-index: 2;
    top: 0px;
    left: -520px;
  }
  .templet .temlet-logo3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .templet .temlet-logo3 .templet-logo__left {
    padding-top: 56px;
  }
  .templet .temlet-logo3 .templet-logo__left .left--text {
    font-size: 32px;
    margin-left: 0px;
    width: 311px;
  }
  .templet .temlet-logo3 .templet-logo__left .left--lorem {
    width: 311px;
    font-size: 15px;
    margin-bottom: 40px;
    padding-top: 32px;
    line-height: 25px;
  }
  .templet .temlet-logo3 .templet-logo__left .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 70px;
  }
  .templet .temlet-logo3 .temlet-logo__right {
    margin-top: 60px;
    width: 311px;
    height: 311px;
  }
  .templet .temlet-logo3 .temlet-logo__right::before {
    height: 150px;
    width: 740px;
    z-index: 2;
    top: 0px;
    right: -125px;
  }
}
/*# sourceMappingURL=main.css.map */