@import "./black/geanrl";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    width: 100%;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}

  // section start

.section{
    display: flex;
    background-image: url(../image/Bitmap2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    .section-logo{
        display: flex;
        flex-direction: column;
        padding-top: 153px;
        .section-logo__text{
            font-family: 'Space normal';
            width: 500px;
            letter-spacing: -2.5px;
            font-size: 56px;
            line-height: 56px;
            color: #fff;
        }
        .link{
            margin-left: 100px;
        }
        .section-logo__lerem{
            display: flex;
            margin-left: 100px;
            position: relative;
            padding-top: 40px;
            color: #FFFFFF;
            width: 38%;
            font-family: 'Lexend Deca';
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 40px;
        }
        .section-logo__lerem::after{
            display: flex;
            content: "";
            height: 100px;
            width: 300px;
            position: absolute;
            background-image: url(../image/GroupCopy0101.svg);
            background-position: center;
            background-repeat: no-repeat;
            right: -300px;
            top: 80px;
            background-size: cover;
        }
        .section-logo__lerem::before{
            display: flex;
            content: "";
            height: 12px;
            width: 250px;
            position: absolute;
            background-image: url(../image/Path20000.svg);
            background-position: center;
            background-repeat: no-repeat;
            top: 80px;
            left: -300px;
            background-size: cover;
        }
    }
}

  //   banner start

.banner{
    background-color: #F2F2F2;
    padding-top: 206px;
    .banner__box{
        display: flex;
        justify-content: space-between;
        padding-left: 190px;
        width: 1034px;
        height: 15px;
        background-color: #F2F2F2;
        .box--span{
            width: 96px;
            height: 96px;
            border-radius: 50%;
            background-color: #FCB72B;
            transform: translateY(-50PX);
            background-image: url(../image/CombinedShapeIMG1.png);
            background-position: center;
            background-repeat: no-repeat;
        }
        .box--span2{
            width: 96px;
            height: 96px;
            border-radius: 50%;
            background-color: #FCB72B;
            transform: translateY(-50PX);
            background-image: url(../image/001-scooterIMG2.png);
            background-position: center;
            background-repeat: no-repeat;
        }
        .box--span3{
            width: 96px;
            height: 96px;
            border-radius: 50%;
            background-color: #FCB72B;
            transform: translateY(-50PX);
            background-image: url(../image/CombinedShapeIMG3.png);
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    .banner-logo{
        display: flex;
        justify-content: space-between;
        width: 1110px;
        .banner-logo__bloc{
            margin-top: 89px;
            .bloc--text{
                font-size: 24px;
                font-family: 'Space normal';
                color: #495567;
            }
            .bloc--lorem{
                padding-top: 24px;
                font-size: 15px;
                color: #939CAA;
                line-height: 25px;
                width: 350px;
            }
        }
    }
}

   // templet start

.templet{
    background-color: #F2F2F2;
    // width: 1499px;
    overflow: hidden;
    padding-bottom: 329px;
    .temlet-logo{
        display: flex;
        justify-content: space-between;
        .templet-logo__left{
            padding-top: 266px;
            .left--text{
                font-size: 48px;
                font-family: 'Space normal';
                letter-spacing: -2.14286px;
                width: 445px;
                color: #495567;
            }
            .left--lorem{
                width: 445px;
                color: #939CAA;
                font-size: 15px;
                margin-bottom: 40px;
                padding-top: 24px;
                line-height: 25px;
            }
        }
        .temlet-logo__right{
            margin-top: 200px;
            width: 445px;
            height: 445px;
            border-radius: 50%;
            background-image: url(../image/Bitmapttt.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            span{
                display: flex;
                border-radius: 50%;
                width: 445px;
                height: 445px;
                background-color: #E5ECF4;
                transform: translate(520px, -150px);
            }
        }
        .temlet-logo__right::before{
            display: flex;
            position: absolute;
            content: "";
            background-image: url(../image/Group32rrr.svg);
            background-position: center;
            background-repeat: no-repeat;
            height: 150px;
            position: relative;
            width: 740px;
            z-index: 2;
            top: 300px;
            right: 101px;
        }
    }
    .temlet-logo2{
        display: flex;
        justify-content: space-between;
        .templet-logo__left{
            padding-top: 266px;
            .left--text{
                font-size: 48px;
                font-family: 'Space normal';
                letter-spacing: -2.14286px;
                width: 445px;
                color: #495567;
            }
            .left--lorem{
                width: 445px;
                color: #939CAA;
                font-size: 15px;
                margin-bottom: 40px;
                padding-top: 24px;
                line-height: 25px;
            }
        }
        .temlet-logo__right{
            margin-top: 200px;
            width: 445px;
            height: 445px;
            border-radius: 50%;
            background-image: url(../image/Bitmapjj.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            span{
                display: flex;
                border-radius: 50%;
                width: 445px;
                height: 445px;
                background-color: #E5ECF4;
                transform: translate(-520px, -150px);
            }
        }
        .temlet-logo__right::before{
            display: flex;
            position: absolute;
            content: "";
            background-image: url(../image/GroupCopyhh.svg);
            background-position: center;
            background-repeat: no-repeat;
            height: 150px;
            position: relative;
            width: 740px;
            z-index: 2;
            top: 0px;
            right: 0px;
            left: -550px;
        }
    }
    .temlet-logo3{
        display: flex;
        justify-content: space-between;
        .templet-logo__left{
            padding-top: 266px;
            .left--text{
                font-size: 48px;
                font-family: 'Space normal';
                letter-spacing: -2.14286px;
                width: 445px;
                color: #495567;
            }
            .left--lorem{
                width: 445px;
                color: #939CAA;
                font-size: 15px;
                margin-bottom: 40px;
                padding-top: 24px;
                line-height: 25px;
            }
        }
        .temlet-logo__right{
            margin-top: 200px;
            width: 445px;
            height: 445px;
            border-radius: 50%;
            background-image: url(../image/Bitmapkk.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            span{
                display: flex;
                border-radius: 50%;
                width: 445px;
                height: 445px;
                background-color: #E5ECF4;
                transform: translate(520px, -150px);
            }
        }
        .temlet-logo__right::before{
            display: flex;
            position: absolute;
            content: "";
            background-image: url(../image/Group32rrr.svg);
            background-position: center;
            background-repeat: no-repeat;
            height: 150px;
            position: relative;
            width: 740px;
            z-index: 2;
            top: 90px;
            right: -260px;
        }
    }
}

//   footer start

@media only screen and (max-width: 770px){
    .container{
        max-width: 689px;
        margin: 0 auto;
    }
    .section{
        height: 690px;
        .section-logo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding-top: 187px;
            .section-logo__text{
                width: 573px;
                font-size: 56px;
            }
            .link{
                margin-left: 200px;
            }
            .section-logo__lerem{
                margin-left: 0px;
                padding-top: 24px;
                width: 573px;
                margin-bottom: 32px;
            }
            .section-logo__lerem::after{
                display: none;
            }
            .section-logo__lerem::before{
                height: 158px;
                width: 477px;
                background-image: url(../image/GroupCopymmm.svg);
                top: 200px;
                left: -250px;
            }
        }
    }

    .banner{
        display: flex;
        background-color: #F2F2F2;
        padding-top: 0px;
        .banner__box{
            flex-direction: column;
            padding-left: 0;
            width: 15px;
            margin-left: 100px;
            height:600px;
            .box--span{
                margin-top: 150px;
                transform: translateX(-40px);
            }
            .box--span2{
                transform: translateX(-40px);
            }
            .box--span3{
                border-radius: 50%;
                transform: translateX(-40px);
            }
        }
        .banner-logo{
            display: flex;
            flex-direction: column;
            width: 1110px;
            padding-top: 150px;
            .banner-logo__bloc{
                margin-top: 0;
                margin-left: 150px;
                .bloc--text{
                    font-size: 24px;
                    font-family: 'Space normal';
                    color: #495567;
                }
                .bloc--lorem{
                    padding-top: 27px;
                    font-size: 15px;
                    line-height: 25px;
                    width: 398px;
                    margin-bottom: 40px;
                }
            }
        }
    }

    .templet{
        padding-bottom: 104px;
        .temlet-logo{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column-reverse;
            .templet-logo__left{
                padding-top: 56px;
                .left--text{
                    font-size: 48px;
                    margin-left: 60px;
                    font-family: 'Space normal';
                    letter-spacing: -2.14286px;
                    width: 445px;
                    color: #495567;
                }
                .left--lorem{
                    width: 553px;
                    font-size: 15px;
                    margin-bottom: 40px;
                    padding-top: 24px;
                    line-height: 25px;
                }
                .link{
                    margin-left: 190px;
                }
            }
            .temlet-logo__right{
                margin-top: 145px;
                width: 445px;
                height: 445px;
                border-radius: 50%;
                background-image: url(../image/Bitmapttt.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                span{
                    display: flex;
                    border-radius: 50%;
                    width: 445px;
                    height: 445px;
                    background-color: #E5ECF4;
                    transform: translate(520px, -150px);
                }
            }
            .temlet-logo__right::before{
                display: flex;
                position: absolute;
                content: "";
                background-image: url(../image/Group32rrr.svg);
                background-position: center;
                background-repeat: no-repeat;
                height: 150px;
                position: relative;
                width: 740px;
                z-index: 2;
                top: 300px;
                right: 101px;
            }
        }
        .temlet-logo2{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            .templet-logo__left{
                padding-top: 56px;
                .left--text{
                    font-size: 48px;
                    margin-left: 60px;
                    width: 445px;
                }
                .left--lorem{
                    width: 553px;
                    font-size: 15px;
                    margin-bottom: 40px;
                    padding-top: 24px;
                    line-height: 25px;
                }
                .link{
                    margin-left: 190px;
                }
            }
            .temlet-logo__right{
                margin-top: 145px;
                width: 445px;
                height: 445px;
                span{
                    width: 445px;
                    height: 445px;
                    transform: translate(-520px, -150px);
                }
            }
            .temlet-logo__right::before{
                height: 150px;
                width: 740px;
                top: 0px;
                right: 101px;
            }
        }
        .temlet-logo3{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column-reverse;
            .templet-logo__left{
                padding-top: 56px;
                .left--text{
                    font-size: 48px;
                    margin-left: 60px;
                    letter-spacing: -2.14286px;
                    width: 445px;
                }
                .left--lorem{
                    width: 553px;
                    font-size: 15px;
                    margin-bottom: 40px;
                    padding-top: 24px;
                    line-height: 25px;
                }
                .link{
                    margin-left: 190px;
                }
            }
            .temlet-logo__right{
                margin-top: 145px;
                width: 445px;
                height: 445px;
                span{
                    width: 445px;
                    height: 445px;
                    transform: translate(520px, -150px);
                }
            }
            .temlet-logo__right::before{
                height: 150px;
                width: 740px;
                top: 100px;
                right: -260px;
            }
        }
    }


}

@media only screen and (max-width: 435px){
    .container{
        max-width: 390px;
        margin: 0 auto;
    }
    .section{
        width: 100%;
        height: 690px;
        .section-logo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding-top: 120px;
            .section-logo__text{
                width: 311px;
                font-size: 40px;
            }
            .link{
                display: flex;
                margin-left: 70px;
            }
            .section-logo__lerem{
                font-size: 15px;
                line-height: 25px;
                margin-left: 0px;
                padding-top: 24px;
                width: 311px;
                margin-bottom: 32px;
            }
            .section-logo__lerem::after{
                display: none;
            }
            .section-logo__lerem::before{
                height: 158px;
                width: 477px;
                background-image: url(../image/GroupCopymmm.svg);
                top: 215px;
                left: -360px;
            }
        }
    }

    .banner{
        display: flex;
        background-color: #F2F2F2;
        padding-top: 0px;
        padding-bottom: 0;
        .banner__box{
            background-color:transparent;
            flex-direction: column;
            padding-left: 0;
            width: 15px;
            margin-left: 220px;
            height:800px;
            .box--span{
                width: 56px;
                height: 56px;
                margin-top: 120px;
                transform: translateX(-40px);
                background-image: url(../image/CombinedShapemm1.svg);
            }
            .box--span2{
                width: 56px;
                height: 56px;
                transform: translateX(-40px);
                background-image: url(../image/001-scootermm2.svg);
            }
            .box--span3{
                width: 56px;
                height: 56px;
                transform: translateX(-40px);
                background-image: url(../image/CombinedShapemm3.svg);
            }
        }
        .banner-logo{
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 311px;
            padding-top: 150px;
            .banner-logo__bloc{
                margin-top: 90px;
                margin-left: -190px;
                .bloc--text{
                    font-size: 24px;
                    margin-left: -160px;
                }
                .bloc--lorem{
                    padding-top: 24px;
                    font-size: 15px;
                    line-height: 25px;
                    width: 311px;
                    margin-bottom: 48px;
                }
            }
        }
    }

    .templet{
        padding-bottom: 104px;
        .temlet-logo{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column-reverse;
            .templet-logo__left{
                padding-top: 56px;
                .left--text{
                    font-size: 32px;
                    margin-left: 0px;
                    width: 311px;
                }
                .left--lorem{
                    width: 311px;
                    font-size: 15px;
                    margin-bottom: 40px;
                    padding-top: 32px;
                    line-height: 25px;
                }
                .link{
                    display: flex;
                    margin-left: 70px;
                }
            }
            .temlet-logo__right{
                margin-top: 60px;
                width: 311px;
                height: 311px;
            }
            .temlet-logo__right::before{
                height: 150px;
                width: 740px;
                z-index: 2;
                top: 170px;
                right: -0px;
            }
        }
        .temlet-logo2{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            .templet-logo__left{
                padding-top: 56px;
                .left--text{
                    font-size: 32px;
                    margin-left: 0px;
                    width: 311px;
                }
                .left--lorem{
                    width: 311px;
                    font-size: 15px;
                    margin-bottom: 40px;
                    padding-top: 32px;
                    line-height: 25px;
                }
                .link{
                    display: flex;
                    margin-left: 70px;
                }
            }
            .temlet-logo__right{
                margin-top: 60px;
                width: 311px;
                height: 311px;
            }
            .temlet-logo__right::before{
                height: 150px;
                width: 740px;
                z-index: 2;
                top: 0px;
                left: -520px;
            }
        }
        .temlet-logo3{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column-reverse;
            .templet-logo__left{
                padding-top: 56px;
                .left--text{
                    font-size: 32px;
                    margin-left: 0px;
                    width: 311px;
                }
                .left--lorem{
                    width: 311px;
                    font-size: 15px;
                    margin-bottom: 40px;
                    padding-top: 32px;
                    line-height: 25px;
                }
                .link{
                    display: flex;
                    margin-left: 70px;
                }
            }
            .temlet-logo__right{
                margin-top: 60px;
                width: 311px;
                height: 311px;
            }
            .temlet-logo__right::before{
                height: 150px;
                width: 740px;
                z-index: 2;
                top: 0px;
                right: -125px;
            }
        }
    }
    


}

@media only screen and (max-width: 370px){
    .container{
        max-width: 311px;
        margin: 0 auto;
    }
    .section{
        height: 690px;
        .section-logo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding-top: 120px;
            .section-logo__text{
                width: 311px;
                font-size: 40px;
            }
            .link{
                display: flex;
                margin-left: 70px;
            }
            .section-logo__lerem{
                font-size: 15px;
                line-height: 25px;
                margin-left: 0px;
                padding-top: 24px;
                width: 311px;
                margin-bottom: 32px;
            }
            .section-logo__lerem::after{
                display: none;
            }
            .section-logo__lerem::before{
                height: 158px;
                width: 477px;
                background-image: url(../image/GroupCopymmm.svg);
                top: 215px;
                left: -360px;
            }
        }
    }

    .banner{
        display: flex;
        background-color: #F2F2F2;
        padding-top: 0px;
        padding-bottom: 0;
        .banner__box{
            background-color:transparent;
            flex-direction: column;
            padding-left: 0;
            width: 15px;
            margin-left: 200px;
            height:800px;
            .box--span{
                width: 56px;
                height: 56px;
                margin-top: 120px;
                transform: translateX(-40px);
                background-image: url(../image/CombinedShapemm1.svg);
            }
            .box--span2{
                width: 56px;
                height: 56px;
                transform: translateX(-40px);
                background-image: url(../image/001-scootermm2.svg);
            }
            .box--span3{
                width: 56px;
                height: 56px;
                transform: translateX(-40px);
                background-image: url(../image/CombinedShapemm3.svg);
            }
        }
        .banner-logo{
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 311px;
            padding-top: 150px;
            .banner-logo__bloc{
                margin-top: 90px;
                margin-left: -180px;
                .bloc--text{
                    font-size: 24px;
                    margin-left: -160px;
                }
                .bloc--lorem{
                    padding-top: 24px;
                    font-size: 15px;
                    line-height: 25px;
                    width: 311px;
                    margin-bottom: 48px;
                }
            }
        }
    }

    .templet{
        padding-bottom: 104px;
        .temlet-logo{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column-reverse;
            .templet-logo__left{
                padding-top: 56px;
                .left--text{
                    font-size: 32px;
                    margin-left: 0px;
                    width: 311px;
                }
                .left--lorem{
                    width: 311px;
                    font-size: 15px;
                    margin-bottom: 40px;
                    padding-top: 32px;
                    line-height: 25px;
                }
                .link{
                    display: flex;
                    margin-left: 70px;
                }
            }
            .temlet-logo__right{
                margin-top: 60px;
                width: 311px;
                height: 311px;
            }
            .temlet-logo__right::before{
                height: 150px;
                width: 740px;
                z-index: 2;
                top: 170px;
                right: -0px;
            }
        }
        .temlet-logo2{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            .templet-logo__left{
                padding-top: 56px;
                .left--text{
                    font-size: 32px;
                    margin-left: 0px;
                    width: 311px;
                }
                .left--lorem{
                    width: 311px;
                    font-size: 15px;
                    margin-bottom: 40px;
                    padding-top: 32px;
                    line-height: 25px;
                }
                .link{
                    display: flex;
                    margin-left: 70px;
                }
            }
            .temlet-logo__right{
                margin-top: 60px;
                width: 311px;
                height: 311px;
            }
            .temlet-logo__right::before{
                height: 150px;
                width: 740px;
                z-index: 2;
                top: 0px;
                left: -520px;
            }
        }
        .temlet-logo3{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column-reverse;
            .templet-logo__left{
                padding-top: 56px;
                .left--text{
                    font-size: 32px;
                    margin-left: 0px;
                    width: 311px;
                }
                .left--lorem{
                    width: 311px;
                    font-size: 15px;
                    margin-bottom: 40px;
                    padding-top: 32px;
                    line-height: 25px;
                }
                .link{
                    display: flex;
                    margin-left: 70px;
                }
            }
            .temlet-logo__right{
                margin-top: 60px;
                width: 311px;
                height: 311px;
            }
            .temlet-logo__right::before{
                height: 150px;
                width: 740px;
                z-index: 2;
                top: 0px;
                right: -125px;
            }
        }
    }
    


}

@media only screen and (max-width: 320px){
    .container{
        max-width: 270px;
        margin: 0 auto;
    }
    .section{
        height: 690px;
        .section-logo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding-top: 120px;
            .section-logo__text{
                margin-left: -20px;
                width: 311px;
                font-size: 40px;
            }
            .link{
                display: flex;
                margin-left: 50px;
            }
            .section-logo__lerem{
                font-size: 15px;
                line-height: 25px;
                margin-left: -20px;
                padding-top: 24px;
                width: 311px;
                margin-bottom: 32px;
            }
            .section-logo__lerem::after{
                display: none;
            }
            .section-logo__lerem::before{
                height: 158px;
                width: 477px;
                background-image: url(../image/GroupCopymmm.svg);
                top: 215px;
                left: -360px;
            }
        }
    }

    .banner{
        display: flex;
        background-color: #F2F2F2;
        padding-top: 0px;
        padding-bottom: 0;
        .banner__box{
            background-color:transparent;
            flex-direction: column;
            padding-left: 0;
            width: 15px;
            margin-left: 180px;
            height:800px;
            .box--span{
                width: 56px;
                height: 56px;
                margin-top: 120px;
                transform: translateX(-40px);
                background-image: url(../image/CombinedShapemm1.svg);
            }
            .box--span2{
                width: 56px;
                height: 56px;
                transform: translateX(-40px);
                background-image: url(../image/001-scootermm2.svg);
            }
            .box--span3{
                width: 56px;
                height: 56px;
                transform: translateX(-40px);
                background-image: url(../image/CombinedShapemm3.svg);
            }
        }
        .banner-logo{
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 270px;
            padding-top: 150px;
            .banner-logo__bloc{
                margin-top: 90px;
                margin-left: -180px;
                .bloc--text{
                    font-size: 24px;
                    margin-left: -160px;
                }
                .bloc--lorem{
                    padding-top: 24px;
                    font-size: 15px;
                    line-height: 25px;
                    width: 270px;
                    margin-bottom: 48px;
                }
            }
        }
    }

    .templet{
        padding-bottom: 104px;
        .temlet-logo{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column-reverse;
            .templet-logo__left{
                padding-top: 56px;
                .left--text{
                    font-size: 32px;
                    margin-left: 0px;
                    width: 311px;
                }
                .left--lorem{
                    width: 311px;
                    font-size: 15px;
                    margin-bottom: 40px;
                    padding-top: 32px;
                    line-height: 25px;
                }
                .link{
                    display: flex;
                    margin-left: 70px;
                }
            }
            .temlet-logo__right{
                margin-top: 60px;
                width: 311px;
                height: 311px;
            }
            .temlet-logo__right::before{
                height: 150px;
                width: 740px;
                z-index: 2;
                top: 170px;
                right: -0px;
            }
        }
        .temlet-logo2{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            .templet-logo__left{
                padding-top: 56px;
                .left--text{
                    font-size: 32px;
                    margin-left: 0px;
                    width: 311px;
                }
                .left--lorem{
                    width: 311px;
                    font-size: 15px;
                    margin-bottom: 40px;
                    padding-top: 32px;
                    line-height: 25px;
                }
                .link{
                    display: flex;
                    margin-left: 70px;
                }
            }
            .temlet-logo__right{
                margin-top: 60px;
                width: 311px;
                height: 311px;
            }
            .temlet-logo__right::before{
                height: 150px;
                width: 740px;
                z-index: 2;
                top: 0px;
                left: -520px;
            }
        }
        .temlet-logo3{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column-reverse;
            .templet-logo__left{
                padding-top: 56px;
                .left--text{
                    font-size: 32px;
                    margin-left: 0px;
                    width: 311px;
                }
                .left--lorem{
                    width: 311px;
                    font-size: 15px;
                    margin-bottom: 40px;
                    padding-top: 32px;
                    line-height: 25px;
                }
                .link{
                    display: flex;
                    margin-left: 70px;
                }
            }
            .temlet-logo__right{
                margin-top: 60px;
                width: 311px;
                height: 311px;
            }
            .temlet-logo__right::before{
                height: 150px;
                width: 740px;
                z-index: 2;
                top: 0px;
                right: -125px;
            }
        }
    }
    


}
