.footer{
    .footer-logo{
        height: 396px;
        .footer-logo__left{
            padding: 0 190px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 300px;
            background-image: url(../image/Maskppp.png);
            background-color: #d3dae6;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            .left__text-logo{
                .text-logo--text{
                    font-size: 48px;
                    line-height: 48px;
                    font-family: 'Space Mono';
                    color: #FFFFFF;
                    width: 415px;
                }
            }
            .left__image{
                .image--link{
                    padding: 0 10px;
                }
            }
        }
        .footer-logo__right{
            display: flex;
            background-color: #333A44;
            padding: 0 190px;
            align-items: center;
            justify-content: space-between;
            height: 96px;
            .right__rasmlar{
                display: flex;
                .rasmlar__menu-logo{
                    display: flex;
                    align-items: center;
                    margin-left: 58px;
                    .menu-logo--iytms{
                        .menu-logo--link{
                            color: #939CAA;
                            font-size: 15px;
                            font-family: 'Space Mono';
                            padding: 0 32px;
                            &:hover{
                                color: #FCB72B;
                            }
                        }
                    }
                }
            }
            .right__icon{
                a{
                    padding: 0 10px;
                    svg{
                        fill: #FCB72B;
                        &:hover{
                            fill: #E5ECF4;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 770px){
    .container{
        max-width: 689px;
        margin: 0 auto;
    }
    .footer{
        .footer-logo{
            height: 396px;
            .footer-logo__left{
                padding: 0 190px;
                display: flex;
                text-align: center;
                flex-direction: column;
                justify-content: center;
                height: 300px;
                .left__text-logo{
                    .text-logo--text{
                        font-size: 48px;
                        line-height: 48px;
                        width: 415px;
                    }
                }
                .left__image{
                    margin-top: 40px;
                    .image--link{
                        padding: 0 10px;
                        img{
                            height: 40px;
                            width: 113px;
                        }
                    }
                }
            }
            .footer-logo__right{
                padding: 0 39px;
                height: 96px;
                .right__rasmlar{
                    .rasmlar__menu-logo{
                        margin-left: 38px;
                        .menu-logo--iytms{
                            .menu-logo--link{
                                font-size: 15px;
                                padding: 0 22px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width: 435px){
    .container{
        max-width: 390px;
        margin: 0 auto;
    }
    .footer{
        .footer-logo{
            height: 758px;
            .footer-logo__left{
                padding: 0 32px;
                display: flex;
                text-align: center;
                flex-direction: column;
                justify-content: center;
                height: 320px;
                .left__text-logo{
                    .text-logo--text{
                        font-size: 32px;
                        width: 311px;
                    }
                }
                .left__image{
                    margin-top: 40px;
                    .image--link{
                        padding: 0 10px;
                        img{
                            height: 40px;
                            width: 130px;
                        }
                    }
                }
            }
            .footer-logo__right{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 0 39px;
                height: 438px;
                .right__rasmlar{
                    flex-direction: column;
                    padding-top: 66px;
                    .rasmlar__menu-logo{
                        flex-direction: column;
                        padding-top: 41px;
                        margin-left: 0;
                        .menu-logo--iytms{
                            .menu-logo--link{
                                font-size: 15px;
                                padding: 16px 32px;
                                display: inline-block;
                            }
                        }
                    }
                }
               .right__icon{
                   padding-bottom: 66px;
                    a{
                        padding: 0 10px;
                        svg{
                            fill: #FCB72B;
                            &:hover{
                                fill: #E5ECF4;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width: 375px){
    .container{
        max-width: 311px;
        margin: 0 auto;
    }
    .footer{
        .footer-logo{
            height: 758px;
            .footer-logo__left{
                padding: 0 32px;
                display: flex;
                text-align: center;
                flex-direction: column;
                justify-content: center;
                height: 320px;
                .left__text-logo{
                    .text-logo--text{
                        font-size: 32px;
                        width: 311px;
                    }
                }
                .left__image{
                    margin-top: 40px;
                    .image--link{
                        padding: 0 10px;
                        img{
                            height: 40px;
                            width: 130px;
                        }
                    }
                }
            }
            .footer-logo__right{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 0 39px;
                height: 438px;
                .right__rasmlar{
                    flex-direction: column;
                    padding-top: 66px;
                    .rasmlar__menu-logo{
                        flex-direction: column;
                        padding-top: 41px;
                        margin-left: 0;
                        .menu-logo--iytms{
                            .menu-logo--link{
                                font-size: 15px;
                                padding: 16px 32px;
                                display: inline-block;
                            }
                        }
                    }
                }
               .right__icon{
                   padding-bottom: 66px;
                    a{
                        padding: 0 10px;
                        svg{
                            fill: #FCB72B;
                            &:hover{
                                fill: #E5ECF4;
                            }
                        }
                    }
                }
            }
        }
    }
    
}