.header{
    background-color: #fff;
        .header-logo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: hsl(0, 0%, 100%);
            height: 96px;
            .header-logo__left{
                display: flex;
                align-items: center;
                .font{
                    .fas{
                        display: none;
                    }
                }
                .left__nav-menu{
                    .left__menu{
                        display: flex;
                        margin-left: 58px;
                        .menu--iytms{
                            .menu--link{
                                display: inline-block;
                                font-family: 'Space Mono';
                                color: #939CAA;
                                font-size: 15px;
                                padding: 0 32px;
                                &:hover{
                                    color: #FCB72B;
                                }
                            }
                        }
                    }
                }
            }
        }
}
.link{
        display:flex;
        width: 180px;
        padding: 16px 35px;
        height: 53px;
        font-family: 'Space Mono';
        background-color: #FCB72B;
        color: #FFFFFF;
        font-size: 15px;
        &:hover{
            background-color: #fff;
            border: 2px solid #FCB72B;
            color: #FCB72B;
            background-color: transparent;
      }
}


@media only screen and (max-width: 435px){
    .container{
        max-width: 390px;
        margin: 0 auto;
    }
    .header{
        background-color: #fff;
            .header-logo{
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: hsl(0, 0%, 100%);
                height: 96px;
                .header-logo__left{
                    display: flex;
                    align-items: center;
                    .left__img{
                        margin-left: 120px;
                    }
                    .font{
                        .fas{
                            display: flex;
                        }
                    }
                    .left__nav-menu{
                        display: none;
                    }
                    .fas:checked ~ .left__nav-menu{
                        display: flex;
                    }
                }
            }
    }
    .link{
        display:none;
}
}
@media only screen and (max-width: 375px){
    .container{
        max-width: 311px;
        margin: 0 auto;
    }
    .header{
        background-color: #fff;
            .header-logo{
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: hsl(0, 0%, 100%);
                height: 96px;
                .header-logo__left{
                    display: flex;
                    align-items: center;
                    .left__img{
                        margin-left: 80px;
                    }
                    .font{
                        .fas{
                            display: flex;
                        }
                    }
                    .left__nav-menu{
                        display: none;
                    }
                    .fas:checked ~ .left__nav-menu{
                        display: flex;
                    }
                }
            }
    }
    .link{
        display:none;
}
}
